<section class="hero is-dark is-medium">
  <div class="overlay"></div>
  <div class="hero-body">
    <div class="container">
      <p class="has-text-centered subtitle is-3">
        " Κοινή μας απόφαση να μοιραστούμε τα όνειρα, τις ελπίδες, την ομορφιά
        της κάθε στιγμής, για πάντα μαζί... Δεχθείτε το κάλεσμά μας και ελάτε
        στο χαρούμενο ξεκίνημά μας Καλωσορίστε την πρεμιέρα της καινούριας μας
        ζωής με την παρουσία σας. Την Παρασκευή 20 Ιουλίου στις 18:00 στον Ιερό
        Ναό Αγίων Κυρίλλου και Μεθοδίου "
      </p>
    </div>
  </div>
</section>
