<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div class="has-text-centered title is-1">
            Και για να
            <span class="gg1">θυμ</span>
            <span class="gg2">όμα</span>
            <span class="gg3">στε</span>
            την ημέρα
          </div>
          <br />
        </div>
        <div class="column is-12">
          <nav class="level">
            <div class="level-item">
              <div>
                <p>
                  <span class="image-container">
                    <img
                      src="../../assets/googledrive.png"
                      alt="This zooms-in really well and smooth"
                    />
                  </span>
                </p>
                <p class="title is-3 has-text-centered">Google Drive</p>
              </div>
            </div>
            <div class="level-item">
              <div>
                <div class="has-text-centered title is-5">
                  Φωτογραφίες Γάμου
                </div>

                <hr />
                <ul>
                  <li class="has-text-weight-bold">
                    Μοιραστείτε όλες τις όμορφες στιγμές που περάσατε μαζί μας
                    και χαρίστε μας μοναδικές αναμνήσεις
                  </li>
                  <li class="has-text-weight-bold">
                    Google Drive Link:
                    <a
                      class="has-text-info"
                      href="https://drive.google.com/drive/u/0/folders/1-D5xrOllNxrPUS3jkpEBBAZLlDtw3kys"
                      target="_blank"
                      >Φάκελος Γάμου</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
