<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="title is-1 is-marginless has-text-centered">
       Η   <span class="has-text-danger">Εκκλησία</span> μας
      </div>
      <div class="title is-3 has-text-centered">
      Ο Γαμπρός  και η <span class="has-text-danger">Νύφη</span>
      </div>
      <div class="columns is-multiline">
        <div class="column is-6">
          <div id="invitation-map" class="map"></div>
        </div>
        <div class="column is-6 map">
          <ngx-slick
            class="carousel"
            #slickModal="slick-modal"
            [config]="slideConfig"
            (init)="slickInit($event)"
          >
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%" />
            </div>
          </ngx-slick>
        </div>       
      </div>
    </div>
  </div>
</section>
