<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="title is-2 has-text-centered ">
        To Πρόγραμμα
      </div>
      <div class="subtitle is-4 has-text-centered ">
        Σύβοτα 2019
      </div>
      <div class="timeline is-centered">
        <header class="timeline-header">
          <span class="tag is-medium is-danger">13-07-19</span>
        </header>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">Το πρωινό μας</p>
            <p>
              Ξυπνάμε νωρίς νωρίς και πάμε για μπανάκι σε μία απο τις καλύτερες
              <a href="{{ beachesPath }}" target="_blank">παραλίες</a> της
              δυτικής ελλάδας
            </p>
          </div>
        </div>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">Το μεσημεριανό μας</p>
            <p>
              Νηστικό αρκούδι δεν χορεύει και στον γάμο μας δεν θα κάθετε κανέις
              και για αυτό το
              <a href="{{ foodPath }}" target="_blank">φαγήτο</a> δεν θα το
              αφήσουμε στην τύχη.
            </p>
          </div>
        </div>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">H Νύφη</p>
            <p>
              Συγγενείς και φίλοι ευπρόσδεκτοι για να μοιραστούμε την χαρά
              <a href="{{ nansyPath }}" target="_blank">εδώ</a>
            </p>
          </div>
        </div>

        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">O Γαμπρός</p>
            <p>
              Το εξοχικό του γαμπρού ανοιχτό για όποιον το επιθυμεί
              <a href="{{ kostasPath }}" target="_blank">εδώ.</a>
            </p>
          </div>
        </div>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">Ο Γαμος</p>
            <p>
              Το μεγάλο EVENT της ημέρας, και για να μην χαθείτε ορίστε και η
              <a href="{{ churchPath }}" target="_blank">εκκλησία</a>
            </p>
          </div>
        </div>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-danger"></div>
          <div class="timeline-content">
            <p class="heading">Για τους After τύπους</p>
            <p>
              Και για όσους δεν χόρτασαν χορό και φαγητό υπάρχει και συνέχεια
              <a href="{{ barsPath }}" target="_blank">εδώ</a>
            </p>
          </div>
        </div>
        <header class="timeline-header">
          <span class="tag is-medium is-danger">14-07-19</span>
        </header>
      </div>
    </div>
  </div>
</section>
